h1{
    background-color: blue;
    border: dashed red 5px;
    border-radius: 5px;
    color: red;
    font-size: 30px;
    text-align: center;
    
}

th{
    font-size: 1.5em;
}

th,td{
    border: solid black 2px;

}

table{
    border-collapse: collapse;
}
tr:nth-child(even){
    background-color: bisque;
    border: yellow;
    color: blue;
    font: 1.5em;
}