#gdpr{
    border: 10px yellow dotted;
}
body{
    background-color: salmon;
}
.styledImages{
    background-color: beige;
    border: black dotted 20px;
    width: 200px;
}

#firstParagraph{
    width: 30px;
    margin: 50px auto;
    border: dotted black;
}

